In [6]:
import numpy as np

In [8]:
a = np.array(range(25))
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [8]:
s=a.copy()
s.tolist()# converting to list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [10]:
k = np.ones((2,3),dtype=float) #  one values (2 rows , 3 clm), data type float default it give int
k

array([[1., 1., 1.],
       [1., 1., 1.]])

In [11]:
k1 = k = np.zeros((2,3),dtype=float)
k1

array([[0., 0., 0.],
       [0., 0., 0.]])

In [12]:
a.shape # a is one d

(25,)

In [13]:
np.zeros_like(a)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0])

In [14]:
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [16]:
a = np.ones_like(a)
a

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1])

In [20]:
j = np.identity(2) # matrics 2 x 2 or 8 X 8 ...
j

array([[1., 0.],
       [0., 1.]])

In [22]:
j1 = np.identity(4,dtype=float)
j1

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

In [26]:
# k= is their in diagoonal starting rows position  try change to k value 
j2 = np.eye(8,k=2) # similar to identity() in identity default k=0
j2

array([[0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.]])

In [28]:
a = np.array([1,2,3])
b = np.array([2,3,4])
a

array([1, 2, 3])

In [29]:
b

array([2, 3, 4])

In [33]:
a+b # array addition , same o/p is b+a

array([3, 5, 7])

In [31]:
a-b

array([-1, -1, -1])

In [34]:
b-a

array([1, 1, 1])

In [35]:
a/b

array([0.5       , 0.66666667, 0.75      ])

In [36]:
a%b

array([1, 2, 3], dtype=int32)

In [37]:
b%a

array([0, 1, 1], dtype=int32)

In [38]:
b**a # b to power a example 4 to power 2==16 , 4 to power 3==64...

array([ 2,  9, 64], dtype=int32)

In [39]:
a*b # multiplication

array([ 2,  6, 12])

In [41]:
a1 = np.array([[1,2],[3,4]]) # 2 X 2 arrays
a2 = np.array([[2,0],[1,3]])
a1

array([[1, 2],
       [3, 4]])

In [42]:
a2

array([[2, 0],
       [1, 3]])

In [44]:
a1+a2 # arithmatic operation same happen here.

array([[ 2,  0],
       [ 3, 12]])

In [9]:
a3 = np.array([[1,2],[3,4]])
a4 = np.array([2,0])
a3 + a4 # see addition , all arithmatic operation done

array([[3, 2],
       [5, 4]])

In [12]:
a3.shape

(2, 2)

In [16]:
a4.shape

(2,)

In [19]:
a5 = np.array([[1,2],[3,4],[5,6]])# 3X2 array
a6 = np.array([2,0])
a5.shape

(3, 2)

In [21]:
a6.shape# NOTICE when 1 d array it not show (1,2,) it directly display (2,)

(2,)

In [23]:
a5+a6 # all arithmatic operation done by because (3,2) and (2,)->
# (1d array so only it show this dont confuse but originall (1,2,))(ROWS , CLOUMNS)

array([[3, 2],
       [5, 4],
       [7, 6]])

In [27]:
a7=np.array([1,2,3,4])

#a7+a6 # you got error because shape value is not match
a7.shape

(4,)

In [28]:
a6.shape

(2,)

In [ ]:
######################################################

In [29]:
a6

array([2, 0])

In [30]:
np.sqrt(a6)

array([1.41421356, 0.        ])

In [32]:
q=np.array([4,9])
np.sqrt(q) # square root find , return in float

array([2., 3.])

In [34]:
q.dtype # ^^^ my array is int but o/p why float ??

dtype('int32')

In [36]:
q1 = np.array([1.1,1.5,1.9])
q2 = np.array([1,1.5,1.9]) # auto convert 1 to float
q2

array([1. , 1.5, 1.9])

In [38]:
np.floor(q1) # floor means remove (.) vaLUE , it provide least value

array([1., 1., 1.])

In [39]:
np.ceil(q1) # ceil means provide hHIGHER value (.)

array([2., 2., 2.])

In [40]:
np.rint(q1) # it determine values >   0.5=< values

array([1., 2., 2.])

In [43]:
q3=np.array([1.3,2.5,4.5])
np.rint(q3)# NOTICE HERE RINT MIDDLE NUMBER 2.5 AND 1.5 ^^^^^^

array([1., 2., 4.])

In [45]:
#####################################################################################

In [46]:
np.pi

3.141592653589793

In [47]:
np.e

2.718281828459045

In [49]:
########################################

In [50]:
a7

array([1, 2, 3, 4])

In [51]:
a6

array([2, 0])

In [53]:
np.concatenate((a7,a6))

array([1, 2, 3, 4, 2, 0])

In [55]:
s1=np.array([[1,2],[3,4]])
s2=np.array([[5,6],[7,8]])

np.concatenate((s1,s2))

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [56]:
np.concatenate((s1,s2),axis=0) #  so defdault axis is =0

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [57]:
np.concatenate((s1,s2),axis=1)

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])

In [59]:
#np.concatenate((s1,s2),axis=2) # AxisError: axis 2 is out of bounds for array of dimension 2

In [60]:
s1

array([[1, 2],
       [3, 4]])

In [63]:
s1.flatten() # it provide list

array([1, 2, 3, 4])

In [ ]:
# thank you