In [2]:
import numpy as np

In [3]:
a = np.array([2,4,5])
a

array([2, 4, 5])

In [4]:
a.prod() # product mult of all numbers

40

In [5]:
a.mean() # add total number and devide by total n count 2+4+5/3

3.6666666666666665

In [6]:
a.std() # standerd derivation , for linear regression

1.247219128924647

In [7]:
a.var() # varience in ai used

1.5555555555555554

In [8]:
a1 = a.transpose() # if comma then vertical presentation 
a1

array([2, 4, 5])

In [9]:
print(a.transpose()) # if not comma then vertical presentation

[2 4 5]

In [10]:
a

array([2, 4, 5])

In [11]:
a1
a1.shape

(3,)

In [12]:
a2= np.array([[1,2,3],[3,4,5]])
a2.shape

(2, 3)

In [13]:
a3=a2.transpose()
a3

array([[1, 3],
       [2, 4],
       [3, 5]])

In [14]:
a3.shape

(3, 2)

In [15]:
a4 = np.array([[1,2,3],[4,5,6],[7,8,9]])
a4

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [16]:
a5 = a4.transpose()
a5

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [17]:
a4.shape

(3, 3)

In [18]:
a5.shape

(3, 3)

In [19]:
a

array([2, 4, 5])

In [20]:
a.min() # return lowest min value

2

In [21]:
a.argmin() # position of min value

0

In [22]:
a.argmax() # also return posiotion location

2

In [23]:
b = np.array([9,5,6,7,7,8,11,8])
b

array([ 9,  5,  6,  7,  7,  8, 11,  8])

In [24]:
np.unique(b)# return only single unique element AND SORTING ALSO

array([ 5,  6,  7,  8,  9, 11])

In [25]:
sorted(b) # sort array

[5, 6, 7, 7, 8, 8, 9, 11]

In [26]:
b1 = np.array([6,4,8,9,2])
b1

array([6, 4, 8, 9, 2])

In [27]:
b1.sort()# not print

In [28]:
b1

array([2, 4, 6, 8, 9])

In [29]:
d = b1.clip(7,15) # i am not understand

In [30]:
d

array([7, 7, 7, 8, 9])

In [31]:
a4

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [32]:
a4.diagonal() # diagonal \\\ way to display

array([1, 5, 9])

In [33]:
w1 = np.array([2,3,4,6])

In [34]:
w2 = np.array([1,2,7,9])

In [35]:
w1

array([2, 3, 4, 6])

In [36]:
w2

array([1, 2, 7, 9])

In [37]:
w1>w2 # compare evry element and return boolean

array([ True,  True, False, False])

In [38]:
w1

array([2, 3, 4, 6])

In [39]:
w1==w2

array([False, False, False, False])

In [40]:
d1=np.array(range(9))
d1

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [41]:
d1=d1.reshape(3,3)
d1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [42]:
d2 =np.array(range(6))
d2 = d2.reshape(2,3)

In [43]:
d2

array([[0, 1, 2],
       [3, 4, 5]])

In [44]:
k = np.concatenate((d1,d2),axis=0) 
k

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5]])

In [45]:
a4

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [46]:
 #k2 = np.concatenate((d1,a4))
d1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [47]:
k = np.concatenate((d1,a4),axis=0)
k

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [48]:
k2 = np.concatenate((d1,a4),axis=1)
k2

array([[0, 1, 2, 1, 2, 3],
       [3, 4, 5, 4, 5, 6],
       [6, 7, 8, 7, 8, 9]])

In [49]:
k3 = np.concatenate((a4,d1),axis=0)
k3

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [50]:
########## thank you #######