In [1]:
import numpy as np

In [2]:
a = np.array(range(10))# give 10 element using range loop
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [3]:
a1 = a.reshape(5,2)
a1

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [4]:
a2 = a.reshape(2,5)
a2

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [5]:
a3 = a.reshape(1,10)
a3

array([[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]])

In [6]:
a4 = a.reshape(10,1)
a4

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [7]:
a2

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [8]:
a2.sum()

45

In [9]:
a2.sum(axis=0) # axis 0   , op= 0+5 1+6 2+7 3+8 4+9

array([ 5,  7,  9, 11, 13])

In [10]:
a2.sum(axis=1)

array([10, 35])

In [11]:
# a2.sum(axis=2)# AxisError: axis 2 is out of bounds for array of dimension 2

In [12]:
a1

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [13]:
a1.sum(axis=0)

array([20, 25])

In [14]:
a1.sum(axis=1)

array([ 1,  5,  9, 13, 17])

In [15]:
b=np.array(range(12))
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [16]:
b1=b.reshape(2,6)
b1

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11]])

In [17]:
b1.sum(axis=0)

array([ 6,  8, 10, 12, 14, 16])

In [18]:
b1.sum(axis=1)

array([15, 51])

In [19]:
b2 = b1.reshape(2,2,3) # 2 rows inside 2 cloumn 3 column data
b2

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [20]:
b3 = b1.reshape(3,2,2) # 2 rows inside 2 cloumn 3 column data
b3

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]]])

In [ ]:
#################  example first #############

In [21]:
b2

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [23]:
b2.sum(axis=0) # see sum

array([[ 6,  8, 10],
       [12, 14, 16]])

In [24]:
b2.sum(axis=1) # see sum

array([[ 3,  5,  7],
       [15, 17, 19]])

In [27]:
b2.sum(axis=2)

array([[ 3, 12],
       [21, 30]])

In [ ]:
############## exaple next ###############

In [44]:
b3

array([[[ 0,  1],
        [ 2,  3]],

       [[ 4,  5],
        [ 6,  7]],

       [[ 8,  9],
        [10, 11]]])

In [28]:
b3.sum(axis=0)

array([[12, 15],
       [18, 21]])

In [29]:
b3.sum(axis=1)

array([[ 2,  4],
       [10, 12],
       [18, 20]])

In [30]:
b3.sum(axis=2)

array([[ 1,  5],
       [ 9, 13],
       [17, 21]])

In [ ]:
################## example second #############

In [39]:
d = np.array(range(16))
d1 = d.reshape(2,2,4)         #  2 rows inside 2 cloumn 4 column data

In [41]:
d1

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7]],

       [[ 8,  9, 10, 11],
        [12, 13, 14, 15]]])

In [40]:
d1.sum(axis=0)

array([[ 8, 10, 12, 14],
       [16, 18, 20, 22]])

In [42]:
d1.sum(axis=1)

array([[ 4,  6,  8, 10],
       [20, 22, 24, 26]])

In [43]:
d1.sum(axis=2)

array([[ 6, 22],
       [38, 54]])